<form action="/auth/signup" method="post">
  <div>
    <label for="signupName">Name:</label>
    <input type="text" id="signupName" name="signupName" required />
  </div>
  <div>
    <label for="signupEmail">Email:</label>
    <input type="email" id="signupEmail" name="signupEmail" required />
  </div>
  <div>
    <label for="signupPassword">Password:</label>
    <input type="password" id="signupPassword" name="signupPassword" required />
  </div>
  <button type="submit">Sign Up</button>
</form>
